#environments {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

#environments>li {
	position: relative;
	padding: 1em;
	margin: 0 0 1em 1em;
	background-color: rgba(34, 51, 84, 0.02);
	box-shadow: rgba(159, 162, 191, 0.18) 0px 9px 16px, rgba(159, 162, 191, 0.32) 0px 2px 2px;
	border-radius: 10px;
}

#environments>li:after {
	position: absolute;
	top: 0.1em;
	right: 0.1em;
	border: 1px solid #000;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	text-align: center;
	border-radius: 50%;
}

#environments>li.module:after {
	content: "M";
}

#environments>li.softpack:after {
	content: "S";
}

#environments>li:before {
	position: absolute;
	content: " ";
	top: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.25em;
	width: 0.5em;
}

#environments>li.ready:before {
	background-color: #57ca22;
}

#environments>li.queued:before {
	background-color: #33c2ff;
}

#environments>li.failed:before {
	background-color: #ff1943;
}

#environments>li>h2 {
	display: inline-block;
	margin: 0;
}

#environments>li>div {
	margin: 1em 0;
}

#environments>li>ul {
	list-style: none;
	padding: 0;
}

#environments>li>ul li {
	display: inline-block;
}

#environments>li>ul:first-of-type {
	display: inline-block;
	margin-left: 1em;
}

#environments>li>ul:first-of-type li:not(:first-child):before {
	content: "/";
	padding: 0 0.5em;
}

#environments>li>ul:nth-of-type(2):not(:empty) {
	margin-top: 1em;
}

#environments>li>ul:nth-of-type(2) li {
	color: rgba(0, 0, 0, 0.87);
	background-color: rgba(0, 0, 0, 0.08);
	font-size: 0.8125rem;
	border-radius: 16px;
	padding: 0.5em;
	margin: 0 0 0.25em 0.25em;
}

#environments>li>ul:nth-of-type(3) {
	max-height: 90px;
	overflow-y: auto;
}

#environments>li>ul:nth-of-type(3) li {
	font-size: 0.8125rem;
	color: rgba(85, 105, 255, 0.7);
	border: 1px solid rgba(85, 105, 255, 0.7);
	border-radius: 16px;
	padding: 0.5em;
	margin: 0 0 0.25em 0.25em;
}